{% extends 'tracker/base.html' %}
{% block content %}
<div class="container text-center pt-4">
    <h4><u>Metrics</u></h4>
    <div class="row">
        <div class="col">Completed: {{ completed }}</div>
        <div class="col">Total: {{ total }}</div>
        <div class="col">Progress: {{ progress }}%</div>
    </div>
</div>

<div class="container text-center pt-5">
    <h4><u>Ongoing Projects</u></h4>
<table class="table align-items-center">
    <thead>
      <tr>
        <th scope="col">Date created</th>
        <th scope="col">Title</th>
        {% if user.is_authenticated %}
        <th scope="col">Remarks</th>
        {% endif %}
        <th scope="col">Link</th>
        <th scope="col">Completed?</th>
        {% if user.is_authenticated %}
        <th scope="col">Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
        <th scope="row" >{{ project.date_created.date }}</th>
        {% if user.is_authenticated %}
        <td><a href="{% url 'viewproject' project.id %}">{{ project.title }}</a></td>
        {% else %}
        <td>{{ project.title }}</a></td>
        {% endif %}
        {% if user.is_authenticated %}
        <td>{{ project.remarks }}</td>
        {% endif %}
        {% if project.link %}
        <td><a href="{{ project.link }}">Click Me!</a></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ project.status }}</td>
        {% if user.is_authenticated %}
        <td><a href="{% url 'delproject' project.id %}" class="btn btn-danger">Delete</a></td>
        {% endif %}
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% if user.is_authenticated %}
<div class="container text-center pt-4">
    <h4><u>Add new idea</u></h4>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
{% endif %}
{% endblock content %}